@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Italic.woff2);
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.woff2);
  font-weight: 400;
}

.gallery__conteiner,
.project__conteiner {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.header-nav .nav-contact::before,
.header-nav .nav-news::before,
.header-nav .nav-project::before,
.header-nav .nav-about::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;
  height: 9px;
  width: -1px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.header-nav .nav-contact,
.header-nav .nav-news,
.header-nav .nav-project,
.header-nav .nav-about {
  transition: all 0.3s;
}

.header-nav .nav-contact:hover,
.header-nav .nav-news:hover,
.header-nav .nav-project:hover,
.header-nav .nav-about:hover {
  transform: scale(1.1);
}

.header-nav .nav-contact:hover::before,
.header-nav .nav-news:hover::before,
.header-nav .nav-project:hover::before,
.header-nav .nav-about:hover::before {
  background-color: #ffffff;
}

.footer__social-link,
.next,
.prev,
.button,
.header-nav__social-link,
.header__arrow {
  transition: all 0.3s;
}

.footer__social-link:hover,
.next:hover,
.prev:hover,
.button:hover,
.header-nav__social-link:hover,
.header__arrow:hover,
.footer__social-link :focus,
.next :focus,
.prev :focus,
.button :focus,
.header-nav__social-link :focus,
.header__arrow :focus {
  transform: scale(1.3);
}

.news-dots__item-5,
.news-dots__item-4,
.news-dots__item-3,
.news-dots__item-2,
.news-dots__item-1 {
  width: 9px;
  height: 9px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.news-articles__item {
  transition: all 0.3s;
}

.news-articles__item:hover,
.news-articles__item :focus {
  transform: scale(1.04);
}

.gallery-grid-item {
  transition: all 0.3s;
}

.gallery-grid-item:hover,
.gallery-grid-item :focus {
  transform: scale(1.05);
}

.error,
.success,
.contact__email,
.contact__name {
  transition: all 0.3s;
}

.error:hover,
.success:hover,
.contact__email:hover,
.contact__name:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.header {
  height: 100vh;
  margin-bottom: 150px;
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%), url(../img/1.header/header-bg.webp) no-repeat top center/cover;
}

.header__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: 32vh;
}

.header__arrow {
  bottom: 10%;
  right: 48%;
  position: absolute;
  z-index: 10;
}

.header-active-one {
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%), url(../img/1.header/header-bg-2.webp) no-repeat top center/cover;
}

.header-active-two {
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%), url(../img/1.header/header-bg-3.webp) no-repeat top center/cover;
}

.header-active-three {
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%), url(../img/1.header/header-bg-4.webp) no-repeat top center/cover;
}

.header-active-four {
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%), url(../img/1.header/header-bg-2.webp) no-repeat top center/cover;
}

.header-active-five {
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%), url(../img/1.header/header-bg-3.webp) no-repeat top center/cover;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
  padding: 15px 0;
}

.header-nav__wrapper {
  display: flex;
  max-width: 1170px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.header-nav__menu-body {
  display: flex;
  max-width: 1170px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-nav__menu-body-active {
  max-width: 1170px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-nav__menu {
  display: flex;
  flex-shrink: 1;
  max-width: 515px;
  width: 100%;
  justify-content: space-between;
  margin: 0 15px;
}

.header-nav__menu-burger {
  display: none;
}

.header-nav .nav-about {
  margin-left: 30px;
  position: relative;
}

.header-nav .nav-project {
  position: relative;
}

.header-nav .nav-news {
  position: relative;
}

.header-nav .nav-contact {
  position: relative;
}

.header-nav__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.header-heading__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-heading__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
}

.header-heading__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
}

.text-style {
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.sticky {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%);
  box-shadow: 1px 5px 8px 1px rgba(0, 0, 255, 0.2);
  z-index: 100;
}

.space {
  margin-top: 400px;
}

.header-burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: relative;
}

.header-burger__item {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.header-burger__item::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  margin-top: -8px;
}

.header-burger__item::after {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  margin-top: 8px;
}

.header-burger__active span {
  background: rgba(255, 255, 255, 0);
}

.header-burger__active span::before {
  margin-top: 0px;
  margin-top: 0;
}

.header-burger__active span::after {
  margin-top: 0px;
  margin-top: 0;
}

.header-nav__wrapper-active {
  width: 100%;
  position: relative;
  transition: all 0.4s;
}

.header-nav__wrapper-active .header-nav__menu-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  margin-top: 510px;
  left: 0;
  transition: all 0.4s;
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(127, 92, 255, 0.9) 16.9%);
  box-shadow: 1px 5px 8px 1px rgba(0, 0, 255, 0.2);
  padding: 8px;
}

.header-nav__wrapper-active .header-nav__menu {
  flex-direction: column;
  padding: 15px 0;
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 100;
}

.header-nav__wrapper-active .header-nav__menu .nav-about {
  margin-left: 0;
}

.header-nav__wrapper-active .header-nav__menu .header-nav__menu-item {
  padding: 30px 15px;
}

.header-nav__wrapper-active .header-nav__menu .nav-about::before,
.header-nav__wrapper-active .header-nav__menu .nav-project::before,
.header-nav__wrapper-active .header-nav__menu .nav-news::before,
.header-nav__wrapper-active .header-nav__menu .nav-contact::before {
  top: 40%;
  left: 10%;
}

.header-nav__wrapper-active .header-nav__social {
  padding-bottom: 20px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pagination {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  top: 40vh;
  right: 52px;
}

.project__title {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2c4058;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project__one {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-shrink: 1;
  gap: 70px;
}

.project__one-right {
  max-width: 630px;
  width: 100%;
  position: relative;
}

.project__one-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #55b7ff;
  right: 30%;
  bottom: 15%;
  z-index: -1;
}

.project__one-right-back {
  position: absolute;
  width: 100%;
}

.project__one-img {
  width: 100%;
  max-height: 470px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: relative;
}

.project__one-left {
  max-width: 470px;
  width: 100%;
}

.project__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2c4058;
}

.project__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2c4058;
  padding-bottom: 40px;
}

.project__adress {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.project__icon {
  padding-right: 10px;
}

.project__two {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-shrink: 1;
  gap: 70px;
}

.project__two-right {
  max-width: 476px;
  width: 100%;
}

.project__two-left {
  max-width: 630px;
  width: 100%;
  position: relative;
}

.project__two-left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #7e5aff;
  left: 30%;
  bottom: 15%;
  z-index: -1;
}

.project__two-img {
  width: 100%;
  max-height: 470px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  text-decoration: none;
  margin-bottom: 60px;
  outline: none;
}

.line {
  padding-bottom: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  position: relative;
  margin-top: 150px;
  background: linear-gradient(243.43deg, rgba(127, 92, 255, 0.9) 16.9%, rgba(87, 185, 255, 0.9) 83.27%);
}

.news__conteiner {
  max-width: 1370px;
  width: 100%;
  margin: auto;
  position: relative;
}

.news__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
  padding: 150px 0 90px 0;
}

.news-bg {
  position: absolute;
  width: 100%;
  height: 590px;
  background: url(../img/3.news/news-bg.png) no-repeat top center/cover;
  opacity: 0.09;
  bottom: 0;
}

.news-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background: linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  z-index: -1;
  padding-top: 371px;
}

.news-mask__bg {
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  opacity: 0.09;
}

.line-white {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-white::before {
  content: "";
  position: absolute;
  width: 100px;
  border: 1px solid #fff;
  background-color: #fff;
  top: 120px;
}

.news-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  height: 538px;
  width: 100%;
  margin: auto;
}

.news-articles__item {
  max-width: 370px;
  width: 100%;
  background: #ffffff;
}

.news-articles__img {
  max-width: 370px;
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-articles__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.news-articles__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2c4058;
  padding-bottom: 15px;
}

.news-articles__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2c4058;
  margin: 0;
  padding-bottom: 39px;
}

.news-articles__author-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.news-articles__info {
  display: flex;
  gap: 20px;
}

.news-articles__author-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2c4058;
}

.news-articles__post-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55b7ff;
}

.news-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 0 120px 0;
}

.news-articles-conteiner {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.swiper-wrapper {
  justify-content: space-between;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: #fff;
}

.prev {
  width: 40px;
  height: 40px;
  padding-right: 40px;
  position: absolute;
  top: 66%;
  left: 0;
}

.next {
  width: 40px;
  height: 40px;
  padding-left: 40px;
  position: absolute;
  top: 66%;
  right: 0;
}

.gallery {
  margin-top: 150px;
}

.gallery__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.gallery-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2c4058;
  padding: 20px 0 90px 0;
}

.line-black {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-black::before {
  content: "";
  position: absolute;
  width: 100px;
  border: 1px solid #2C4058;
  background-color: #2C4058;
  top: 0px;
}

.gallery-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "grid-one  grid-two grid-three" "grid-one  grid-four grid-five";
  gap: 10px;
  margin-bottom: 60px;
  transition: all 0.3s;
}

.gallery-grid:hover {
  gap: 20px;
}

.gallery-grid-item {
  max-width: 285px;
  width: 100%;
  min-height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: url("../img/4.gallery/zoom-in.png"), pointer;
}

.grid-one {
  max-width: 580px;
  width: 100%;
  min-height: 438px;
  grid-area: grid-one;
}

.grid-two {
  grid-area: grid-two;
  height: 100%;
}

.grid-three {
  grid-area: grid-three;
  height: 100%;
}

.grid-four {
  grid-area: grid-four;
}

.grid-five {
  grid-area: grid-five;
}

.fancybox__content img {
  width: 1600px;
}

.contact {
  margin-top: 90px;
}

.contact__conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

.contact #map {
  width: 100%;
  line-height: 0;
  min-height: 700px;
}

.contact__map-app {
  position: relative;
  z-index: -4;
  width: 100%;
  min-height: 700px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__wrapper {
  position: absolute;
  max-width: 770px;
  width: 100%;
  padding: 60px 0 69px 0;
  box-sizing: border-box;
  box-shadow: 0px -4px 30px rgba(133, 133, 133, 0.2);
  background-color: #fff;
  z-index: 1;
  bottom: -215px;
}

.contact__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2c4058;
  padding: 30px 0 40px 0;
}

.contact__main {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 60px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  max-width: 268px;
  width: 100%;
  gap: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.contact__info-adress {
  margin: 0;
}

.contact__info-phone {
  margin: 0;
}

.contact__info-email {
  margin: 0;
}

.contact__info-time {
  margin: 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  width: 100%;
  gap: 33px;
}

.contact__success {
  display: flex;
  justify-content: baseline;
  text-align: center;
  align-items: baseline;
  max-width: 310px;
  width: 100%;
}

.contact__success-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  color: #2c4058;
}

.contact__control {
  display: flex;
  align-items: baseline;
  position: relative;
}

.contact__error {
  position: absolute;
  bottom: -30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  visibility: hidden;
  padding-left: 5px;
}

.contact__inon-check {
  width: 20px;
  position: absolute;
  right: -25px;
  top: 15px;
  visibility: hidden;
}

.contact__inon-exclamation {
  width: 20px;
  position: absolute;
  right: -25px;
  top: 15px;
  visibility: hidden;
}

.contact__name {
  background: none;
  border: none;
  opacity: 0.1;
  border-bottom: 1px solid #2c4058;
  padding: 12px 5px;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4b5562;
  opacity: 0.5;
}

.contact__email {
  background: none;
  border: none;
  opacity: 0.1;
  border-bottom: 1px solid #2c4058;
  padding: 12px 5px;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4b5562;
  opacity: 0.5;
}

.contact__main-bg {
  position: absolute;
  max-width: 770px;
  width: 100%;
  opacity: 0.06;
  bottom: 0;
  z-index: -1;
}

.hidden {
  display: none;
}

.success {
  border-bottom: 2px solid green;
  border-radius: 1px;
  width: 82%;
}

.success .contact__name,
.success .contact__email {
  transform: scale(1);
  box-shadow: none;
}

.success .contact__inon-check {
  visibility: visible;
}

.success .contact__name,
.success .contact__email {
  border-bottom: 0px;
}

.error {
  border-bottom: 2px solid #b60000;
  border-radius: 1px;
  width: 82%;
}

.error .contact__name,
.error .contact__email {
  transform: scale(1);
  box-shadow: none;
}

.error .contact__inon-exclamation {
  visibility: visible;
}

.error .contact__name,
.error .contact__email {
  border-bottom: 0px;
}

.error .contact__error {
  color: #b60000;
  visibility: visible;
}

.contact-line {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-line::before {
  content: "";
  position: absolute;
  width: 100px;
  border: 1px solid #2c4058;
  background-color: #2c4058;
  top: 0px;
}

.icon-location::before {
  padding-right: 15px;
  color: #7e5aff;
}

.icon-phone::before {
  padding-right: 10px;
  color: #7e5aff;
}

.icon-inbox::before {
  padding-right: 10px;
  color: #7e5aff;
}

.icon-clock::before {
  padding-right: 10px;
  color: #7e5aff;
}

.text-style::before {
  padding-right: 10px;
  color: #7e5aff;
}

.button {
  text-transform: uppercase;
  background: none;
}

.gm-control-active,
.gm-fullscreen-control,
.gmnoprint,
.strmpr-search-box,
.has-error,
.storemapper-error,
.strmpr-search,
.strmpr-powered-by {
  display: none;
}

.strmpr {
  padding: 0;
  margin: 0;
}

.strmpr-map {
  min-height: 700px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  z-index: 1;
}

.strmpr-layout-vertical .strmpr-map {
  z-index: 1;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(251.06deg, #7e5aff -2.19%, #55b7ff 103.21%);
}

.footer__mask {
  position: relative;
  width: 100%;
}

.footer__bg {
  position: relative;
  width: 100%;
  min-height: 550px;
}

.footer__conteiner {
  max-width: 770px;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 280px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  padding: 0 0 41px;
}

.footer__social-links {
  display: flex;
  gap: 20px;
}

.footer__copirights {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.footer-mask {
  width: 100%;
}

@media (max-width: 1550px) {
  .project__one-right::before {
    right: 20%;
  }

  .project__two-left::before {
    left: 20%;
  }
}

@media (max-width: 1435px) {
  .news-articles {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media (max-width: 1424px) {
  .project__one-right::before {
    right: 10%;
  }

  .project__two-left::before {
    left: 10%;
  }
}

@media (max-width: 1420px) {
  .prev {
    padding: 0 15px;
  }

  .next {
    padding-right: 15px;
  }
}

@media (max-width: 1400px) {
  .news-articles__item {
    min-height: 555px;
    height: 100%;
  }
}

@media (max-width: 1325px) {
  .news-articles-conteiner {
    max-width: 770px;
  }
}

@media (max-width: 1298px) {
  .project__one-right::before {
    right: 5%;
  }

  .project__two-left::before {
    left: 5%;
  }

  .project__one-right::before {
    right: 0%;
  }

  .project__two-left::before {
    left: 0%;
  }
}

@media (max-width: 1170px) {
  .header-heading,
  .header-nav__wrapper {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .project__conteiner {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .project__one-right::before {
    display: none;
  }

  .project__two-left::before {
    display: none;
  }

  .news__conteiner {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .news-articles {
    padding: 0;
    box-sizing: border-box;
  }

  .gallery__conteiner {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media (max-width: 1135px) {
  .header-heading {
    padding: 0 90px;
    box-sizing: border-box;
  }
}

@media (max-width: 1103px) {
  .header-dots {
    top: 48vh;
  }
}

@media (max-width: 960px) {
  .news-articles-conteiner {
    max-width: 367px;
  }
}

@media (max-width: 900px) {
  .header-nav__menu-body {
    display: none;
  }

  .header-burger {
    display: flex;
    z-index: 10;
  }

  .project__one,
  .project__two {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .project__two {
    flex-direction: column-reverse;
    max-width: 1170px;
    width: 100%;
  }

  .project__one-right,
  .project__one-left,
  .project__two-right,
  .project__two-left {
    max-width: 1170px;
    width: 100%;
  }

  .project__one-left,
  .project__two-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project__title {
    text-align: center;
  }

  .project__text {
    max-width: 478px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 840px) {
  .gallery-grid {
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "grid-one grid-one" "grid-two grid-three" " grid-four grid-five";
  }

  .grid-one,
  .grid-two,
  .grid-three,
  .grid-four,
  .grid-five {
    max-width: 1170px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header__conteiner {
    gap: 29vh;
  }
}

@media (max-width: 770px) {
  .footer__conteiner {
    top: 20%;
  }

  .footer__social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .footer__copirights {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 100px;
  }

  .line {
    padding-bottom: 50px;
  }

  .gallery {
    margin-top: 100px;
  }

  .button {
    margin-bottom: 0;
  }

  .contact__main {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 40px;
  }

  .contact__wrapper {
    position: relative;
    top: inherit;
    bottom: inherit;
  }

  .contact__form {
    align-items: center;
  }
}

@media (max-width: 649px) {
  .header-heading__title {
    font-size: 50px;
  }

  .header-heading__subtitle {
    font-size: 16px;
  }

  .header-dots {
    display: none;
  }

  .header-heading {
    padding: 0 65px;
  }

  .header-nav__wrapper {
    gap: 0;
  }

  .header__arrow {
    right: 43%;
  }
}

@media (max-width: 560px) {
  .next,
  .prev {
    top: 105%;
  }

  .next {
    right: 30%;
    padding-right: 0;
  }

  .prev {
    left: 30%;
    padding-left: 0;
  }

  .news-dots {
    padding: 120px 0 120px 0;
  }

  .news-articles {
    height: 595px;
  }
}

@media (max-width: 459px) {
  .header__conteiner {
    gap: 19vh;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    top: 31vh;
    right: 15px;
  }

  .header-heading {
    padding: 0 15px;
  }
}

@media (max-width: 425px) {
  .header__conteiner {
    gap: 15vh;
  }

  .header-heading {
    padding: 0 20px;
  }
}

@media (max-width: 341px) {
  .header__conteiner {
    gap: 16vh;
  }
}

@media (max-width: 330px) {
  .header__conteiner {
    gap: 11vh;
  }

  .header-heading {
    height: 475px;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    top: 31vh;
  }

  .space {
    margin-top: 259px;
  }
}

@media (max-width: 320px) {
  .project__adressline {
    text-align: center;
  }
}