.header {
  height: 100vh;
  margin-bottom: 150px;
  background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(87, 185, 255, 0.9) 83.27%
    ),
    url(../img/1.header/header-bg.webp) no-repeat top center / cover;
  &__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 32vh;
  }
  &__arrow {
    bottom: 10%;
    right: 48%;
    position: absolute;
    @extend %buttons-links-hover;
    z-index: 10;
  }
}
.header-active-one {
  background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(87, 185, 255, 0.9) 83.27%
    ),
    url(../img/1.header/header-bg-2.webp) no-repeat top center / cover;
}
.header-active-two {
  background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(87, 185, 255, 0.9) 83.27%
    ),
    url(../img/1.header/header-bg-3.webp) no-repeat top center / cover;
}
.header-active-three {
  background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(87, 185, 255, 0.9) 83.27%
    ),
    url(../img/1.header/header-bg-4.webp) no-repeat top center / cover;
}
.header-active-four {
  background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(87, 185, 255, 0.9) 83.27%
    ),
    url(../img/1.header/header-bg-2.webp) no-repeat top center / cover;
}
.header-active-five {
  background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(87, 185, 255, 0.9) 83.27%
    ),
    url(../img/1.header/header-bg-3.webp) no-repeat top center / cover;
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
  padding: 15px 0;
  &__wrapper {
    display: flex;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
  }
  &__menu-body {
    display: flex;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-body-active {
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    flex-shrink: 1;
    max-width: 515px;
    width: 100%;
    justify-content: space-between;
    margin: 0 15px;
  }
  &__menu-burger {
    display: none;
  }
  .nav-about {
    margin-left: 30px;
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  .nav-project {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  .nav-news {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  .nav-contact {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__social-link {
    @extend %buttons-links-hover;
  }
}
.header-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  overflow: hidden;
  position: relative;
  z-index: -1;
  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.text-style {
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.sticky {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(87, 185, 255, 0.9) 83.27%
  );
  box-shadow: 1px 5px 8px 1px rgba(0, 0, 255, 0.2);
  z-index: 100;
}
.space {
  margin-top: 400px;
}
.header-burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: relative;
  &__item {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    &::before {
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      margin-top: -8px;
    }
    &::after {
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      margin-top: 8px;
    }
  }
  &__active {
    span {
      background: rgba(255, 255, 255, 0);
      &::before {
        margin-top: 0px;
        margin-top: 0;
      }
      &::after {
        margin-top: 0px;
        margin-top: 0;
      }
    }
  }
}
.header-nav__wrapper-active {
  width: 100%;
  position: relative;
  transition: all 0.4s;
  .header-nav__menu-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: 510px;
    left: 0;
    transition: all 0.4s;
    background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(127, 92, 255, 0.9) 16.9%
    );
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 255, 0.2);
    padding: 8px;
  }
  .header-nav__menu {
    flex-direction: column;
    padding: 15px 0;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 100;
    .nav-about {
      margin-left: 0;
    }
    .header-nav__menu-item {
      padding: 30px 15px;
    }
    .nav-about::before,
    .nav-project::before,
    .nav-news::before,
    .nav-contact::before {
      top: 40%;
      left: 10%;
    }
  }
  .header-nav__social {
    padding-bottom: 20px;
  }
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pagination {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  top: 40vh;
  right: 52px;
}
@media (max-width: 1170px) {
  .header-heading,
  .header-nav__wrapper {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media (max-width: 1135px) {
  .header-heading {
    padding: 0 90px;
    box-sizing: border-box;
  }
}
@media (max-width: 1103px) {
  .header-dots {
    top: 48vh;
  }
}
@media (max-width: 900px) {
  .header-nav__menu-body {
    display: none;
  }
  .header-burger {
    display: flex;
    z-index: 10;
  }
}
@media (max-width: 800px) {
  .header__conteiner {
    gap: 29vh;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 100px;
  }
}
@media (max-width: 649px) {
  .header-heading__title {
    font-size: 50px;
  }
  .header-heading__subtitle {
    font-size: 16px;
  }

  .header-dots {
    display: none;
  }
  .header-heading {
    padding: 0 65px;
  }
  .header-nav__wrapper {
    gap: 0;
  }
  .header__arrow {
    right: 43%;
  }
}
@media (max-width: 459px) {
  .header__conteiner {
    gap: 19vh;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    top: 31vh;
    right: 15px;
  }
  .header-heading {
    padding: 0 15px;
  }
}
@media (max-width: 425px) {
  .header__conteiner {
    gap: 15vh;
  }
  .header-heading {
    padding: 0 20px;
  }
}
@media (max-width: 341px) {
  .header__conteiner {
    gap: 16vh;
  }
}
@media (max-width: 330px) {
  .header__conteiner {
    gap: 11vh;
  }
  .header-heading {
    height: 475px;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    top: 31vh;
  }
  .space {
    margin-top: 259px;
  }
}
